*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.book-reservation-img img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.book-reservation-content h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #f22e3e;
    text-align: left;
    padding: 0px 90px 0px;
}
.book-reservation-content h1{
    font-weight: 700;
    font-size: 2.5rem;
}
 button:hover {
    background-color: #E23744 !important;
    border: none;
}
.reservation-name{
    width: 100%;
    height: 40px;
    border: 1px solid #77777776;
    border-radius: 4px;
    text-align: left;
    padding: 0px 20px 0px;
   }

.reservation-form Button{
    color: white;
    border-radius: 10px;
 }

